{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}

<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

<h1 class="justify-content-center pt-3">• What is Credit Risk Analysis?</h1>

<p class="display-6 px-5">When a customer applies for a loan, banks and other credit providers use statistical models to
    determine whether or not to grant the loan based on the likelihood of the loan being repaid. The factors involved in
    determining this likelihood are complex, and extensive statistical analysis and modeling are required to predict the
    outcome for each individual case.</p>

{% endblock body %}