<!DOCTYPE html>
<html lang="english">

<head>
  <title>Credito - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <!-- Favicon -->
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏦</text></svg>">

  <style data-tag="default-style-sheet">
    html {
      font-family: Inter;
      font-size: 16px;
    }

    body {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.15;
      color: var(--dl-color-gray-black);
      background-color: var(--dl-color-gray-white);
    }
  </style>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/home.css') }}" />

  <!-- Javascript -->
  <link rel="stylesheet" href="{{ url_for('static', filename='javascript/script.js') }}" />
</head>

<body>
  <div>

    <div class="home-container">
      <div class="home-home">
        <div class="home-mobile-version">
          <div class="home-group39640">
            <div class="home-group39844">
              <span class="home-text"><span>Get Started</span></span>
            </div>
          </div>
          <img alt="mdihamburgermenu7166"
            src="{{ url_for('static', filename='playground_assets/mdihamburgermenu7166-0ml.svg') }}"
            class="home-mdihamburgermenu" />
          <div class="home-group1000002617">
            <span class="home-text002">
              <span>
                Credit risk analysis is a process that lenders and financial
                institutions use to evaluate the likelihood of borrowers
                defaulting on their credit obligations, assess potential risks
                associated with lending, and make informed decisions to manage
                and minimize credit-related losses.
              </span>
            </span>
            <span class="home-text004">
              <span>
                Credit Risk Analysis is an important process that enables
                lenders, credit rating agencies, and other financial
                institutions to evaluate the creditworthiness of borrowers and
                make informed decisions about extending credit. In this
                project, we will be using the XGBoost algorithm to predict
                whether a borrower is likely to default on a loan or not.
              </span>
            </span>
            <span class="home-text006">
              <span>
                It involves analyzing various factors such as the borrower's
                financial health, credit history, repayment capacity, market
                conditions, and other relevant information to determine the
                borrower's creditworthiness and potential risks. Based on
                their analysis, lenders can make informed decisions on loan
                approvals, credit limits, interest rates, and other
                credit-related terms and conditions to minimize credit-related
                losses.
              </span>
            </span>
            <span class="home-text008">
              <span>Credito is your personalized Credit Risk Analyst</span>
            </span>
          </div>
          <div class="home-group40405">
            <div class="home-group40315">
              <div class="home-mdifiledocumentplusoutline"></div>
            </div>
          </div>
          <div class="home-group1000002619">
            <div class="home-group1000002618">
              <div class="home-materialsymbolsarrowbackrounded"></div>
            </div>
          </div>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-4qf5.svg') }}"
            class="home-vector" />
          <img alt="Rectangle647115"
            src="{{ url_for('static', filename='playground_assets/rectangle647115-j3gp-300h.png') }}"
            class="home-rectangle64" />
          <span class="home-text010"><span>Stay Risk-free,</span></span>
          <span class="home-text012"><span>Stay with</span></span>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-48gi.svg') }}"
            class="home-vector01" />
          <div class="home-group1000002621">
            <div class="home-group40251">
              <img alt="Rectangle44727157"
                src="{{ url_for('static', filename='playground_assets/rectangle44727157-ccb-400w.png') }}"
                class="home-rectangle4472" />
              <div class="home-maskgroup"></div>
            </div>
            <div class="home-group1000002620">
              <div class="home-group39809">
                <span class="home-text014"><span>Get Started</span></span>
              </div>
              <span class="home-text016"><span>Get Started here,</span></span>
              <span class="home-text018">
                <span>
                  Analyze your Credit Risk and Approve your Loan now !!
                </span>
              </span>
            </div>
          </div>
          <div class="home-group39947">
            <img alt="Rectangle45027161"
              src="{{ url_for('static', filename='playground_assets/rectangle45027161-fk9.svg') }}"
              class="home-rectangle4502" />
            <div class="home-frame1150">
              <span class="home-text020"><span>Terms</span></span>
              <span class="home-text022"><span>Privacy</span></span>
              <span class="home-text024"><span>Cookies</span></span>
            </div>
            <img alt="Line1677163" src="{{ url_for('static', filename='playground_assets/line1677163-edi.svg') }}"
              class="home-line167" />
            <div class="home-group39800">
              <span class="home-text026"><span>Credito 2023</span></span>
              <img alt="Vector7164" src="{{ url_for('static', filename='playground_assets/vector7164-e3r.svg') }}"
                class="home-vector02" />
            </div>
          </div>
          <div class="home-services-footer">
            <span class="home-text028"><span>Company</span></span>
            <span class="home-text030"><span>Loan Approval</span></span>
            <span class="home-text032"><span>Source Code</span></span>
          </div>
          <div class="home-get-help">
            <span class="home-text034"><span>Pages</span></span>
            <span class="home-text036"><span>Home</span></span>
            <span class="home-text038"><span>About us</span></span>
            <span class="home-text040"><span>Contact</span></span>
          </div>
          <span class="home-text042">
            <span>
              Looking to find out more? Join our Team now. Get in touch with
              us.
            </span>
          </span>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-r5da.svg') }}"
            class="home-vector03" />
          <div class="home-socail-media">
            <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-qyu.svg') }}"
              class="home-vector04" />
            <img alt="IconLucideIcon7115"
              src="{{ url_for('static', filename='playground_assets/iconlucideicon7115-lcp.svg') }}"
              class="home-icon-lucide-icon" />
            <img alt="bxlgmail7116" src="{{ url_for('static', filename='playground_assets/bxlgmail7116-xhmm.svg') }}"
              class="home-bxlgmail" />
          </div>
          <span class="home-text044">
            <span>Credito Process for Credit Risk Analysis</span>
          </span>
          <div class="home-frame39694">
            <span class="home-text046"><span>Data Preparation</span></span>
            <span class="home-text048">
              <span>
                Collect and preprocess the relevant data , including cleaning,
                transforming, features
              </span>
            </span>
            <div class="home-group39692">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-yiw5-200h.png') }}"
                class="home-ellipse1" />
              <img alt="icrounddatasaveroff7116"
                src="{{ url_for('static', filename='playground_assets/icrounddatasaveroff7116-ifqp.svg') }}"
                class="home-icrounddatasaveroff" />
            </div>
          </div>
          <div class="home-frame39725">
            <span class="home-text050"><span>Model Training</span></span>
            <span class="home-text052">
              <span>
                Use the XGBoost algorithm to train a on preprocessed data
              </span>
            </span>
            <div class="home-group3969201">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-ct77-200h.png') }}"
                class="home-ellipse101" />
              <div class="home-icrounddatasaveroff1"></div>
              <img alt="materialsymbolsmodeltraining7116"
                src="{{ url_for('static', filename='playground_assets/materialsymbolsmodeltraining7116-il95.svg') }}"
                class="home-materialsymbolsmodeltraining" />
            </div>
          </div>
          <div class="home-frame39726">
            <span class="home-text054"><span>Model Evaluation</span></span>
            <span class="home-text056">
              <span>
                Evaluate the performance of the model using various metrics
                such as accuracy, precision, recall, and F1 score
              </span>
            </span>
            <div class="home-group3969202">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-pj0du-200h.png') }}"
                class="home-ellipse102" />
              <img alt="carbonmodelbuilder7116"
                src="{{ url_for('static', filename='playground_assets/carbonmodelbuilder7116-9k3q.svg') }}"
                class="home-carbonmodelbuilder" />
            </div>
          </div>
          <div class="home-frame39727">
            <span class="home-text058"><span>Model Tuning</span></span>
            <span class="home-text060">
              <span>
                Optimize the hyperparameters of the model to improve its
                performance.
              </span>
            </span>
            <div class="home-group3969203">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-nqbj-200h.png') }}"
                class="home-ellipse103" />
              <img alt="carbonmodelbuilder7116"
                src="{{ url_for('static', filename='playground_assets/carbonmodelbuilder7116-cxrp.svg') }}"
                class="home-carbonmodelbuilder1" />
            </div>
          </div>
        </div>
        <div class="home-mobile-version1">
          <div class="home-group396401">
            <div class="home-group398441">
              <span class="home-text062"><span>Get Started</span></span>
            </div>
          </div>
          <img alt="mdihamburgermenu7166"
            src="{{ url_for('static', filename='playground_assets/mdihamburgermenu7166-0ml.svg') }}"
            class="home-mdihamburgermenu1" />
          <div class="home-group10000026171">
            <span class="home-text064">
              <span>
                Credit risk analysis is a process that lenders and financial
                institutions use to evaluate the likelihood of borrowers
                defaulting on their credit obligations, assess potential risks
                associated with lending, and make informed decisions to manage
                and minimize credit-related losses.
              </span>
            </span>
            <span class="home-text066">
              <span>
                Credit Risk Analysis is an important process that enables
                lenders, credit rating agencies, and other financial
                institutions to evaluate the creditworthiness of borrowers and
                make informed decisions about extending credit. In this
                project, we will be using the XGBoost algorithm to predict
                whether a borrower is likely to default on a loan or not.
              </span>
            </span>
            <span class="home-text068">
              <span>
                It involves analyzing various factors such as the borrower's
                financial health, credit history, repayment capacity, market
                conditions, and other relevant information to determine the
                borrower's creditworthiness and potential risks. Based on
                their analysis, lenders can make informed decisions on loan
                approvals, credit limits, interest rates, and other
                credit-related terms and conditions to minimize credit-related
                losses.
              </span>
            </span>
            <span class="home-text070">
              <span>Credito is your personalized Credit Risk Analyst</span>
            </span>
          </div>
          <div class="home-group404051">
            <div class="home-group403151">
              <div class="home-mdifiledocumentplusoutline1"></div>
            </div>
          </div>
          <div class="home-group10000026191">
            <div class="home-group10000026181">
              <div class="home-materialsymbolsarrowbackrounded1"></div>
            </div>
          </div>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-4qf5.svg') }}"
            class="home-vector05" />
          <img alt="Rectangle647115"
            src="{{ url_for('static', filename='playground_assets/rectangle647115-j3gp-300h.png') }}"
            class="home-rectangle641" />
          <span class="home-text072"><span>Stay Risk-free,</span></span>
          <span class="home-text074"><span>Stay with</span></span>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-48gi.svg') }}"
            class="home-vector06" />
          <div class="home-group10000026211">
            <div class="home-group402511">
              <img alt="Rectangle44727157"
                src="{{ url_for('static', filename='playground_assets/rectangle44727157-ccb-400w.png') }}"
                class="home-rectangle44721" />
              <div class="home-maskgroup1"></div>
            </div>
            <div class="home-group10000026201">
              <div class="home-group398091">
                <span class="home-text076"><span>Get Started</span></span>
              </div>
              <span class="home-text078"><span>Get Started here,</span></span>
              <span class="home-text080">
                <span>
                  Analyze your Credit Risk and Approve your Loan now !!
                </span>
              </span>
            </div>
          </div>
          <div class="home-group399471">
            <img alt="Rectangle45027161"
              src="{{ url_for('static', filename='playground_assets/rectangle45027161-fk9.svg') }}"
              class="home-rectangle45021" />
            <div class="home-frame11501">
              <span class="home-text082"><span>Terms</span></span>
              <span class="home-text084"><span>Privacy</span></span>
              <span class="home-text086"><span>Cookies</span></span>
            </div>
            <img alt="Line1677163" src="{{ url_for('static', filename='playground_assets/line1677163-edi.svg') }}"
              class="home-line1671" />
            <div class="home-group398001">
              <span class="home-text088"><span>Credito 2023</span></span>
              <img alt="Vector7164" src="{{ url_for('static', filename='playground_assets/vector7164-e3r.svg') }}"
                class="home-vector07" />
            </div>
          </div>
          <div class="home-services-footer1">
            <span class="home-text090"><span>Company</span></span>
            <span class="home-text092"><span>Loan Approval</span></span>
            <span class="home-text094"><span>Source Code</span></span>
          </div>
          <div class="home-get-help1">
            <span class="home-text096"><span>Pages</span></span>
            <span class="home-text098"><span>Home</span></span>
            <span class="home-text100"><span>About us</span></span>
            <span class="home-text102"><span>Contact</span></span>
          </div>
          <span class="home-text104">
            <span>
              Looking to find out more? Join our Team now. Get in touch with
              us.
            </span>
          </span>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-r5da.svg') }}"
            class="home-vector08" />
          <div class="home-socail-media1">
            <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-qyu.svg') }}"
              class="home-vector09" />
            <img alt="IconLucideIcon7115"
              src="{{ url_for('static', filename='playground_assets/iconlucideicon7115-lcp.svg') }}"
              class="home-icon-lucide-icon1" />
            <img alt="bxlgmail7116" src="{{ url_for('static', filename='playground_assets/bxlgmail7116-xhmm.svg') }}"
              class="home-bxlgmail1" />
          </div>
          <span class="home-text106">
            <span>Credito Process for Credit Risk Analysis</span>
          </span>
          <div class="home-frame396941">
            <span class="home-text108"><span>Data Preparation</span></span>
            <span class="home-text110">
              <span>
                Collect and preprocess the relevant data , including cleaning,
                transforming, features
              </span>
            </span>
            <div class="home-group3969204">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-yiw5-200h.png') }}"
                class="home-ellipse104" />
              <img alt="icrounddatasaveroff7116"
                src="{{ url_for('static', filename='playground_assets/icrounddatasaveroff7116-ifqp.svg') }}"
                class="home-icrounddatasaveroff2" />
            </div>
          </div>
          <div class="home-frame397251">
            <span class="home-text112"><span>Model Training</span></span>
            <span class="home-text114">
              <span>
                Use the XGBoost algorithm to train a on preprocessed data
              </span>
            </span>
            <div class="home-group3969205">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-ct77-200h.png') }}"
                class="home-ellipse105" />
              <div class="home-icrounddatasaveroff3"></div>
              <img alt="materialsymbolsmodeltraining7116"
                src="{{ url_for('static', filename='playground_assets/materialsymbolsmodeltraining7116-il95.svg') }}"
                class="home-materialsymbolsmodeltraining1" />
            </div>
          </div>
          <div class="home-frame397261">
            <span class="home-text116"><span>Model Evaluation</span></span>
            <span class="home-text118">
              <span>
                Evaluate the performance of the model using various metrics
                such as accuracy, precision, recall, and F1 score
              </span>
            </span>
            <div class="home-group3969206">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-pj0du-200h.png') }}"
                class="home-ellipse106" />
              <img alt="carbonmodelbuilder7116"
                src="{{ url_for('static', filename='playground_assets/carbonmodelbuilder7116-9k3q.svg') }}"
                class="home-carbonmodelbuilder2" />
            </div>
          </div>
          <div class="home-frame397271">
            <span class="home-text120"><span>Model Tuning</span></span>
            <span class="home-text122">
              <span>
                Optimize the hyperparameters of the model to improve its
                performance.
              </span>
            </span>
            <div class="home-group3969207">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-nqbj-200h.png') }}"
                class="home-ellipse107" />
              <img alt="carbonmodelbuilder7116"
                src="{{ url_for('static', filename='playground_assets/carbonmodelbuilder7116-cxrp.svg') }}"
                class="home-carbonmodelbuilder3" />
            </div>
          </div>
        </div>
        <div class="home-mobile-version2">
          <a href="./loan-approval">
            <div class="home-group396402">
              <div class="home-group398442">
                <span class="home-text124"><span>Get Started</span></span>
              </div>
            </div>
          </a>
          <button data-visible="false"><a href="./navigation-mobile"><img alt="mdihamburgermenu7166"
                src="{{ url_for('static', filename='playground_assets/mdihamburgermenu7166-0ml.svg') }}"
                class="home-mdihamburgermenu2" /></a></button>
          <div class="home-group10000026172">
            <span class="home-text126">
              <span>
                Credit risk analysis is a process that lenders and financial
                institutions use to evaluate the likelihood of borrowers
                defaulting on their credit obligations, assess potential risks
                associated with lending, and make informed decisions to manage
                and minimize credit-related losses.
              </span>
            </span>
            <span class="home-text128">
              <span>
                Credit Risk Analysis is an important process that enables
                lenders, credit rating agencies, and other financial
                institutions to evaluate the creditworthiness of borrowers and
                make informed decisions about extending credit. In this
                project, we will be using the XGBoost algorithm to predict
                whether a borrower is likely to default on a loan or not.
              </span>
            </span>
            <span class="home-text130">
              <span>
                It involves analyzing various factors such as the borrower's
                financial health, credit history, repayment capacity, market
                conditions, and other relevant information to determine the
                borrower's creditworthiness and potential risks. Based on
                their analysis, lenders can make informed decisions on loan
                approvals, credit limits, interest rates, and other
                credit-related terms and conditions to minimize credit-related
                losses.
              </span>
            </span>
            <span class="home-text132">
              <span>Credito is your personalized Credit Risk Analyst</span>
            </span>
          </div>
          <div class="home-group404052">
            <div class="home-group403152">
              <div class="home-mdifiledocumentplusoutline2"></div>
            </div>
          </div>
          <div class="home-group10000026192">
            <div class="home-group10000026182">
              <div class="home-materialsymbolsarrowbackrounded2"></div>
            </div>
          </div>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-4qf5.svg') }}"
            class="home-vector10" />
          <img alt="Rectangle647115"
            src="{{ url_for('static', filename='playground_assets/rectangle647115-j3gp-300h.png') }}"
            class="home-rectangle642" />
          <span class="home-text134"><span>Stay Risk-free,</span></span>
          <span class="home-text136"><span>Stay with</span></span>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-48gi.svg') }}"
            class="home-vector11" />
          <div class="home-group10000026212">
            <div class="home-group402512">
              <img alt="Rectangle44727157"
                src="{{ url_for('static', filename='playground_assets/rectangle44727157-ccb-400w.png') }}"
                class="home-rectangle44722" />
              <div class="home-maskgroup2"></div>
            </div>
            <div class="home-group10000026202">
              <a href="./contact">
                <div class="home-group398092">
                  <span class="home-text138"><span>Get Started</span></span>
                </div>
              </a>
              <span class="home-text140"><span>Get Started here,</span></span>
              <span class="home-text142">
                <span>
                  Analyze your Credit Risk and Approve your Loan now !!
                </span>
              </span>
            </div>
          </div>
          <div class="home-group399472">
            <img alt="Rectangle45027161"
              src="{{ url_for('static', filename='playground_assets/rectangle45027161-fk9.svg') }}"
              class="home-rectangle45022" />
            <div class="home-frame11502">
              <span class="home-text144"><span>Terms</span></span>
              <span class="home-text146"><span>Privacy</span></span>
              <span class="home-text148"><span>Cookies</span></span>
            </div>
            <img alt="Line1677163" src="{{ url_for('static', filename='playground_assets/line1677163-edi.svg') }}"
              class="home-line1672" />
            <div class="home-group398002">
              <span class="home-text150"><span>Credito 2023</span></span>
              <img alt="Vector7164" src="{{ url_for('static', filename='playground_assets/vector7164-e3r.svg') }}"
                class="home-vector12" />
            </div>
          </div>
          <div class="home-services-footer2">
            <span class="home-text152"><span>Company</span></span>
            <a href="loan-approval"><span class="home-text154"><span>Loan Approval</span></span></a>
            <a href="https://github.com/SannketNikam/Credit-Risk-Analysis"><span class="home-text156"><span>Source
                  Code</span></span></a>
          </div>
          <div class="home-get-help2">
            <span class="home-text158"><span>Pages</span></span>
            <a href="/"><span class="home-text160"><span>Home</span></span></a>
            <a href="./about"><span class="home-text162"><span>About us</span></span></a>
            <a href="./contact"><span class="home-text164"><span>Contact</span></span></a>
          </div>
          <span class="home-text166">
            <span>
              Looking to find out more? Join our Team now. Get in touch with
              us.
            </span>
          </span>
          <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-r5da.svg') }}"
            class="home-vector13" />
          <div class="home-socail-media2">
            <img alt="Vector7115" src="{{ url_for('static', filename='playground_assets/vector7115-qyu.svg') }}"
              class="home-vector14" />
            <img alt="IconLucideIcon7115"
              src="{{ url_for('static', filename='playground_assets/iconlucideicon7115-lcp.svg') }}"
              class="home-icon-lucide-icon2" />
            <img alt="bxlgmail7116" src="{{ url_for('static', filename='playground_assets/bxlgmail7116-xhmm.svg') }}"
              class="home-bxlgmail2" />
          </div>
          <span class="home-text168">
            <span>Credito Process for Credit Risk Analysis</span>
          </span>
          <div class="home-frame396942">
            <span class="home-text170"><span>Data Preparation</span></span>
            <span class="home-text172">
              <span>
                Collect and preprocess the relevant data , including cleaning,
                transforming, features
              </span>
            </span>
            <div class="home-group3969208">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-yiw5-200h.png') }}"
                class="home-ellipse108" />
              <img alt="icrounddatasaveroff7116"
                src="{{ url_for('static', filename='playground_assets/icrounddatasaveroff7116-ifqp.svg') }}"
                class="home-icrounddatasaveroff4" />
            </div>
          </div>
          <div class="home-frame397252">
            <span class="home-text174"><span>Model Training</span></span>
            <span class="home-text176">
              <span>
                Use the XGBoost algorithm to train a on preprocessed data
              </span>
            </span>
            <div class="home-group3969209">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-ct77-200h.png') }}"
                class="home-ellipse109" />
              <div class="home-icrounddatasaveroff5"></div>
              <img alt="materialsymbolsmodeltraining7116"
                src="{{ url_for('static', filename='playground_assets/materialsymbolsmodeltraining7116-il95.svg') }}"
                class="home-materialsymbolsmodeltraining2" />
            </div>
          </div>
          <div class="home-frame397262">
            <span class="home-text178"><span>Model Evaluation</span></span>
            <span class="home-text180">
              <span>
                Evaluate the performance of the model using various metrics
                such as accuracy, precision, recall, and F1 score
              </span>
            </span>
            <div class="home-group3969210">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-pj0du-200h.png') }}"
                class="home-ellipse110" />
              <img alt="carbonmodelbuilder7116"
                src="{{ url_for('static', filename='playground_assets/carbonmodelbuilder7116-9k3q.svg') }}"
                class="home-carbonmodelbuilder4" />
            </div>
          </div>
          <div class="home-frame397272">
            <span class="home-text182"><span>Model Tuning</span></span>
            <span class="home-text184">
              <span>
                Optimize the hyperparameters of the model to improve its
                performance.
              </span>
            </span>
            <div class="home-group3969211">
              <img alt="Ellipse17116"
                src="{{ url_for('static', filename='playground_assets/ellipse17116-nqbj-200h.png') }}"
                class="home-ellipse111" />
              <img alt="carbonmodelbuilder7116"
                src="{{ url_for('static', filename='playground_assets/carbonmodelbuilder7116-cxrp.svg') }}"
                class="home-carbonmodelbuilder5" />
            </div>
          </div>
        </div>
        <div class="home-home1">
          <div class="home-desktop-version">
            <img alt="Vector7126" src="{{ url_for('static', filename='playground_assets/vector7126-tn4p.svg') }}"
              class="home-vector15" />
            <img alt="Rectangle4147126"
              src="{{ url_for('static', filename='playground_assets/rectangle4147126-cip-400h.png') }}"
              class="home-rectangle414" />
            <div class="home-frame39724">
              <span class="home-text186"><span>Stay Risk-free,</span></span>
              <div class="home-frame39723">
                <span class="home-text188"><span>Stay with</span></span>
                <img alt="Vector7127" src="{{ url_for('static', filename='playground_assets/vector7127-2qjj.svg') }}"
                  class="home-vector16" />
              </div>
            </div>
            <img alt="Rectangle647127"
              src="{{ url_for('static', filename='playground_assets/rectangle647127-wtrn-600w.png') }}"
              class="home-rectangle643" />
            <div class="home-frame1152">
              <span class="home-text190">
                <span>Credito is your personalized Credit Risk Analyst</span>
              </span>
              <div class="home-frame39700">
                <span class="home-text192">
                  <span>
                    Credito is a process that lenders and financial
                    institutions use to evaluate the likelihood of borrowers
                    defaulting on their credit obligations, assess potential
                    risks associated with lending, and make informed decisions
                    to manage and minimize credit-related losses.
                  </span>
                </span>
                <span class="home-text194">
                  <span>
                    Credit Risk Analysis is an important process that enables
                    lenders, credit rating agencies, and other financial
                    institutions to evaluate the creditworthiness of borrowers
                    and make informed decisions about extending credit. In
                    this project, we will be using the XGBoost algorithm to
                    predict whether a borrower is likely to default on a loan
                    or not.
                  </span>
                </span>
                <span class="home-text196">
                  <span>
                    It involves analyzing various factors such as the
                    borrower's financial health, credit history, repayment
                    capacity, market conditions, and other relevant
                    information to determine the borrower's creditworthiness
                    and potential risks. Based on their analysis, lenders can
                    make informed decisions on loan approvals, credit limits,
                    interest rates, and other credit-related terms and
                    conditions to minimize credit-related losses.
                  </span>
                </span>
              </div>
            </div>
            <div class="home-frame1153">
              <span class="home-text198">
                <span>Credito Process for Credit Risk Analysis</span>
              </span>
              <div class="home-frame1151">
                <div class="home-frame396943">
                  <span class="home-text200">
                    <span>Data Preparation</span>
                  </span>
                  <span class="home-text202">
                    <span>
                      Collect and preprocess the relevant data , including
                      cleaning, transforming, features
                    </span>
                  </span>
                  <div class="home-group3969212">
                    <img alt="Ellipse17128"
                      src="{{ url_for('static', filename='playground_assets/ellipse17128-v56r-200h.png') }}"
                      class="home-ellipse112" />
                    <img alt="icrounddatasaveroff7128"
                      src="{{ url_for('static', filename='playground_assets/icrounddatasaveroff7128-3l3d.svg') }}"
                      class="home-icrounddatasaveroff6" />
                  </div>
                </div>
                <div class="home-frame397253">
                  <span class="home-text204">
                    <span>Model Training</span>
                  </span>
                  <span class="home-text206">
                    <span>
                      Use the XGBoost algorithm to train a on preprocessed
                      data
                    </span>
                  </span>
                  <div class="home-group3969213">
                    <img alt="Ellipse17129"
                      src="{{ url_for('static', filename='playground_assets/ellipse17129-m5qg-200h.png') }}"
                      class="home-ellipse113" />
                    <div class="home-icrounddatasaveroff7"></div>
                    <img alt="materialsymbolsmodeltraining7129"
                      src="{{ url_for('static', filename='playground_assets/materialsymbolsmodeltraining7129-7pjg.svg') }}"
                      class="home-materialsymbolsmodeltraining3" />
                  </div>
                </div>
                <div class="home-frame397263">
                  <span class="home-text208">
                    <span>Model Evaluation</span>
                  </span>
                  <span class="home-text210">
                    <span>
                      Evaluate the performance of the model using various
                      metrics such as accuracy, precision, recall, and F1
                      score
                    </span>
                  </span>
                  <div class="home-group3969214">
                    <img alt="Ellipse17130"
                      src="{{ url_for('static', filename='playground_assets/ellipse17130-fror-200h.png') }}"
                      class="home-ellipse114" />
                    <img alt="carbonmodelbuilder7130"
                      src="{{ url_for('static', filename='playground_assets/carbonmodelbuilder7130-jn5.svg') }}"
                      class="home-carbonmodelbuilder6" />
                  </div>
                </div>
                <div class="home-frame397273">
                  <span class="home-text212"><span>Model Tuning</span></span>
                  <span class="home-text214">
                    <span>
                      Optimize the hyperparameters of the model to improve its
                      performance.
                    </span>
                  </span>
                  <div class="home-group3969215">
                    <img alt="Ellipse17130"
                      src="{{ url_for('static', filename='playground_assets/ellipse17130-f5jj-200h.png') }}"
                      class="home-ellipse115" />
                    <img alt="carbonmodelbuilder7130"
                      src="{{ url_for('static', filename='playground_assets/carbon_model-alt.png') }}"
                      class="home-carbonmodelbuilder7" />
                  </div>
                </div>
              </div>
            </div>
            <div class="home-frame39699">
              <div class="home-frame39691">
                <span class="home-text216">
                  <span>Get Started here,</span>
                </span>
                <span class="home-text218">
                  <span>
                    Analyze your Credit Risk and Approve your Loan now !!
                  </span>
                </span>
              </div>
              <a href="./loan-approval" class="home-navlink">
                <div class="home-frame39698">
                  <span class="home-text220"><span>Get Started</span></span>
                </div>
              </a>
            </div>
            <div class="home-frame39702">
              <div class="home-footer">
                <span class="home-text222">
                  <span>
                    Looking to find out more? Join our Team now. Get in touch
                    with us.
                  </span>
                </span>
                <div class="home-services-footer3">
                  <span class="home-text224"><span>Company</span></span>
                  <a href="./loan-approval" class="home-text226">
                    <span>Loan Approval</span>
                  </a>
                  <a href="https://github.com/SannketNikam/Credit-Risk-Analysis"><span class="home-text228"><span>Source
                        Code</span></span></a>
                </div>
                <div class="home-get-help3">
                  <span class="home-text230"><span>Pages</span></span>
                  <a href="/" class="home-text232">
                    <span>Home</span>
                  </a>
                  <a href="./about" class="home-text234">
                    <span>About us</span>
                  </a>
                  <a href="./contact" class="home-text236">
                    <span>Contact</span>
                  </a>
                </div>
                <div class="home-frame11503">
                  <span class="home-text238"><span>Terms</span></span>
                  <span class="home-text240"><span>Privacy</span></span>
                  <span class="home-text242"><span>Cookies</span></span>
                </div>
                <div class="home-socail-media3"><a href="https://github.com/SannketNikam/Credit-Risk-Analysis">
                    <img alt="Vector7133"
                      src="{{ url_for('static', filename='playground_assets/vector7133-edwd.svg') }}"
                      class="home-vector17" /></a>
                  <img alt="IconLucideIcon7133"
                    src="{{ url_for('static', filename='playground_assets/iconlucideicon7133-tnb.svg') }}"
                    class="home-icon-lucide-icon3" />
                  <img alt="bxlgmail7133"
                    src="{{ url_for('static', filename='playground_assets/bxlgmail7133-uoke.svg') }}"
                    class="home-bxlgmail3" />
                </div>
                <img alt="Vector7134" src="{{ url_for('static', filename='playground_assets/vector7134-uk1.svg') }}"
                  class="home-vector18" />
                <span class="home-text244"><span>Credito 2023</span></span>
                <img alt="Vector7116" src="{{ url_for('static', filename='playground_assets/vector7116-64y5u.svg') }}"
                  class="home-vector19" />
              </div>
            </div>
            <a href="./loan-approval" class="home-text246">
              <span>Loan Approval</span>
            </a>
            <a href="/" class="home-text248"><span>Home</span></a>
            <a href="./about" class="home-text250"><span>About</span></a>
            <a href="./contact" class="home-text252">
              <span>Contact</span>
            </a>
            <a href="https://github.com/SannketNikam/Credit-Risk-Analysis" class="home-text254">
              <span>Source Code</span>
            </a>
            <a href="./loan-approval" class="home-navlink1">
              <img alt="Rectangle44607115"
                src="{{ url_for('static', filename='playground_assets/rectangle44607115-nvdl-200h.png') }}"
                class="home-rectangle4460" />
            </a>
            <a href="./loan-approval"><span class="home-text256"><span>Get Started</span></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>